<h2>User List</h2>
<%= link_to 'Back to User List', users_path %>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @user do |form| %>
  <%= form.label 'name', 'name: ' %>
  <%= form.text_field 'name', placeholder: 'mk' %>
  <%= form.label 'age', 'age: ' %>
  <%= form.text_field 'age', placeholder: '18' %>
  <%= form.label 'email', 'email: ' %>
  <%= form.text_field 'email', placeholder: 'email' %>
  <%= form.submit %>
<% end %>













